In [110]:
# Import libaries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import plot_roc_curve,classification_report,confusion_matrix,roc_curve,auc
from sklearn.utils import resample
from collections import Counter
from tensorflow.keras.models import load_model
import random
from joblib import dump, load

In [111]:
%matplotlib inline

In [112]:
model = load_model('../Data/my_model.h5')

In [113]:
df= pd.read_csv('../Data/df_cleaned')

In [114]:
len(df)

30488

In [115]:
df.head(3)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,target
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [116]:
dummy = pd.get_dummies(df,drop_first=True)

In [117]:
dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30488 entries, 0 to 30487
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            30488 non-null  int64
 1   duration                       30488 non-null  int64
 2   campaign                       30488 non-null  int64
 3   pdays                          30488 non-null  int64
 4   previous                       30488 non-null  int64
 5   emp.var.rate                   30488 non-null  float64
 6   cons.price.idx                 30488 non-null  float64
 7   cons.conf.idx                  30488 non-null  float64
 8   euribor3m                      30488 non-null  float64
 9   nr.employed                    30488 non-null  float64
 10  target                         30488 non-null  int64
 11  job_blue-collar                30488 non-null  uint8
 12  job_entrepreneur               30488 non-null  uint8
 13  job_housemaid                  30488 non-null  uint8
 14  job_management                 30488 non-null  uint8
 15  job_retired                    30488 non-null  uint8
 16  job_self-employed              30488 non-null  uint8
 17  job_services                   30488 non-null  uint8
 18  job_student                    30488 non-null  uint8
 19  job_technician                 30488 non-null  uint8
 20  job_unemployed                 30488 non-null  uint8
 21  marital_married                30488 non-null  uint8
 22  marital_single                 30488 non-null  uint8
 23  education_basic.6y             30488 non-null  uint8
 24  education_basic.9y             30488 non-null  uint8
 25  education_high.school          30488 non-null  uint8
 26  education_illiterate           30488 non-null  uint8
 27  education_professional.course  30488 non-null  uint8
 28  education_university.degree    30488 non-null  uint8
 29  default_yes                    30488 non-null  uint8
 30  housing_yes                    30488 non-null  uint8
 31  loan_yes                       30488 non-null  uint8
 32  contact_telephone              30488 non-null  uint8
 33  month_aug                      30488 non-null  uint8
 34  month_dec                      30488 non-null  uint8
 35  month_jul                      30488 non-null  uint8
 36  month_jun                      30488 non-null  uint8
 37  month_mar                      30488 non-null  uint8
 38  month_may                      30488 non-null  uint8
 39  month_nov                      30488 non-null  uint8
 40  month_oct                      30488 non-null  uint8
 41  month_sep                      30488 non-null  uint8
 42  day_of_week_mon                30488 non-null  uint8
 43  day_of_week_thu                30488 non-null  uint8
 44  day_of_week_tue                30488 non-null  uint8
 45  day_of_week_wed                30488 non-null  uint8
 46  poutcome_nonexistent           30488 non-null  uint8
 47  poutcome_success               30488 non-null  uint8
dtypes: float64(5), int64(6), uint8(37)
memory usage: 3.6 MB

In [118]:
random.seed(50)
random_ind = random.randint(0,len(df))
new_data = dummy.drop('target',axis=1).iloc[random_ind]
new_data.shape

(47,)

In [119]:
new_data = new_data.values.reshape(1,47)
new_data

array([[ 4.4000e+01,  1.1500e+02,  1.0000e+00,  9.9900e+02,  1.0000e+00,
        -1.0000e-01,  9.3200e+01, -4.2000e+01,  4.1910e+00,  5.1958e+03,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00]])

In [120]:
scl = load('../Data/scaled.joblib')

In [121]:
scaled_dd = scl.transform(new_data)

In [122]:
scaled_dd

array([[0.34615385, 0.02338349, 0.        , 1.        , 0.16666667,
        0.6875    , 0.3893219 , 0.36820084, 0.80639311, 0.8778828 ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ]])

In [123]:
model.predict_classes(scaled_dd)

array([[0]])

In [124]:
new_data

array([[ 4.4000e+01,  1.1500e+02,  1.0000e+00,  9.9900e+02,  1.0000e+00,
        -1.0000e-01,  9.3200e+01, -4.2000e+01,  4.1910e+00,  5.1958e+03,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
         0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
         0.0000e+00,  0.0000e+00]])

In [125]:
dummy.iloc[random_ind]['target']

0.0